################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.gitignore
/Game-AI-Development-Toolkit
*.sln
*.vcxproj
*.filters
/Debug
*.ilk
/Debug/Game-AI-Development-Toolkit.pdb
